body{
    background-color: aqua;
}

h1{
    color: seagreen;
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    color: red;
    font-weight: bold;
    text-decoration: underline;
}

img{
    height: 200px;
    width: auto;
    border-radius: 10%;
}

input{
    width: 150px;
    height: 75px;
    border-radius: 25px;
    border: 3px solid black;
}

#inputEmail{
    background-color: blue;
}

#inputSenha{
    background-color: yellow;
    height: 50px;
}

.inputEmail{
    background-color: grey;
    color: white;
}

.inputSenha{
    background-color: brown;
    color: coral;
}

button{
    width: 160px;
    height: 80px;
    color: black;
    border: none;
    border-radius: 5px;
    background-color: chocolate;
    cursor: pointer;
}